USE [SistemaTurnos]
GO
/****** Objeto: StoredProcedure [dbo].[sp_Atenciones_Finalizar] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- El asesor presiona "Finalizar"
CREATE PROCEDURE [dbo].[sp_Atenciones_Finalizar]
    @IdTurno INT,
    @EstadoFinal VARCHAR(20) -- Puede enviarse como 'Atendido' o 'Cancelado'
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Turnos SET estado_turno = @EstadoFinal WHERE id_turno = @IdTurno;

        UPDATE Atenciones 
        SET hora_fin = GETDATE() 
        WHERE id_turno = @IdTurno AND hora_fin IS NULL;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Atenciones_Iniciar] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Atenciones_Iniciar]
    @IdTurno INT, @IdUsuario INT, @IdModulo INT
AS
BEGIN
    -- 1. Registrar la atención
    INSERT INTO Atenciones (id_turno, id_usuario, id_modulo, hora_inicio)
    VALUES (@IdTurno, @IdUsuario, @IdModulo, GETDATE());

    -- 2. CAMBIAR EL ESTADO DEL TURNO A 'Llamado' para que el Dashboard lo detecte
    UPDATE Turnos SET estado_turno = 'Llamado' WHERE id_turno = @IdTurno;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Modulos_Liberar] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Modulos_Liberar] @IdModulo INT 
AS 
UPDATE Modulos SET estado_modulo = 'Disponible' WHERE id_modulo = @IdModulo;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Modulos_MarcarOcupado] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Modulos_MarcarOcupado]
    @IdModulo INT
AS
BEGIN
    UPDATE [dbo].[Modulos] 
    SET [estado_modulo] = 'Ocupado' 
    WHERE [id_modulo] = @IdModulo;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Modulos_ObtenerDisponibles] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Modulos_ObtenerDisponibles]
AS
BEGIN
    SELECT id_modulo, nombre_modulo 
    FROM Modulos 
    WHERE estado_modulo = 'Disponible';
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Reporte_Trazabilidad] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================================
-- 6. INTELIGENCIA DE NEGOCIO (Módulo de Reportes con Filtro de Fechas)
-- =======================================================================
CREATE PROCEDURE [dbo].[sp_Reporte_Trazabilidad]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Retorna las métricas exactas calculando duraciones reales de servicio
    SELECT 
        T.codigo_turno AS [Turno],
        U.nombre_completo AS [Asesor],
        M.nombre_modulo AS [Módulo],
        CONVERT(VARCHAR(10), T.fecha_creacion, 120) AS [Fecha],
        CONVERT(VARCHAR(8), A.hora_inicio, 108) AS [Inicio Atención],
        CONVERT(VARCHAR(8), A.hora_fin, 108) AS [Fin Atención],
        DATEDIFF(MINUTE, A.hora_inicio, A.hora_fin) AS [Duración (Minutos)]
    FROM Atenciones A
    INNER JOIN Turnos T ON A.id_turno = T.id_turno
    INNER JOIN Usuarios U ON A.id_usuario = U.id_usuario
    INNER JOIN Modulos M ON A.id_modulo = M.id_modulo
    WHERE CAST(T.fecha_creacion AS DATE) BETWEEN @FechaInicio AND @FechaFin
    ORDER BY T.fecha_creacion DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Reportes_Filtrar] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. CORRECCIÓN DEL REPORTE: Usamos únicamente las columnas nativas confirmadas de la tabla Turnos
CREATE   PROCEDURE [dbo].[sp_Reportes_Filtrar]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id_turno AS [ID Turno],
        codigo_turno AS [Código],
        nombre_cliente AS [Cliente],
        documento_cliente AS [Documento],
        id_prioridad AS [ID Prioridad],
        fecha_creacion AS [Fecha Registro]
    FROM Turnos
    WHERE CAST(fecha_creacion AS DATE) BETWEEN @FechaInicio AND @FechaFin
    ORDER BY fecha_creacion DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Sistema_GuardarConfiguracion] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Sistema_GuardarConfiguracion]
    @TipoTabla VARCHAR(50),
    @Id INT,
    @Nombre VARCHAR(100),
    @ParamPrefijo VARCHAR(50) = NULL,
    @ParamPeso VARCHAR(50) = NULL
AS
BEGIN
    -- No activar SET NOCOUNT ON para permitir lectura limpia de filas afectadas desde C#

    IF @TipoTabla = 'MODULO'
    BEGIN
        IF @Id = 0
            INSERT INTO Modulos (nombre_modulo, estado_modulo) VALUES (@Nombre, 'Disponible');
        ELSE
            UPDATE Modulos SET nombre_modulo = @Nombre WHERE id_modulo = @Id;
    END
    ELSE IF @TipoTabla = 'PRIORIDAD'
    BEGIN
        IF @Id = 0
            INSERT INTO Prioridades (nombre_prioridad, prefijo_codigo, peso_prioridad) 
            VALUES (@Nombre, @ParamPrefijo, ISNULL(TRY_CAST(@ParamPeso AS INT), 0));
        ELSE
            UPDATE Prioridades 
            SET nombre_prioridad = @Nombre, 
                prefijo_codigo = @ParamPrefijo, 
                peso_prioridad = ISNULL(TRY_CAST(@ParamPeso AS INT), 0)
            WHERE id_prioridad = @Id;
    END
    ELSE IF @TipoTabla = 'MODULO_BAJA'
    BEGIN
        DELETE FROM Modulos WHERE id_modulo = @Id;
    END
    ELSE IF @TipoTabla = 'PRIORIDAD_BAJA'
    BEGIN
        DELETE FROM Prioridades WHERE id_prioridad = @Id;
    END
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Turnos_Crear] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Turnos_Crear]
    @IdPrioridad INT,
    @Prefijo VARCHAR(5),
    @NombreCliente VARCHAR(100),
    @DocumentoCliente VARCHAR(20),
    @CodigoGenerado VARCHAR(10) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Validar duplicados en cola de espera
    IF EXISTS (SELECT 1 FROM Turnos WHERE documento_cliente = @DocumentoCliente AND estado_turno = 'Pendiente')
    BEGIN
        RAISERROR('El cliente ya tiene un turno pendiente en la cola.', 16, 1);
        RETURN;
    END

    -- 2. Calcular el consecutivo dinámicamente según el tamaño del prefijo enviado
    DECLARE @Numero INT;
    SELECT @Numero = ISNULL(MAX(CAST(SUBSTRING(codigo_turno, LEN(@Prefijo) + 2, 3) AS INT)), 0) + 1 
    FROM Turnos 
    WHERE codigo_turno LIKE @Prefijo + '-%';
    
    -- 3. Construir el código final formateado (Ej: E-001, G-002)
    SET @CodigoGenerado = @Prefijo + '-' + RIGHT('000' + CAST(@Numero AS VARCHAR(3)), 3);

    -- 4. Insertar el registro definitivo
    INSERT INTO Turnos (id_prioridad, codigo_turno, nombre_cliente, documento_cliente, estado_turno, fecha_creacion)
    VALUES (@IdPrioridad, @CodigoGenerado, @NombreCliente, @DocumentoCliente, 'Pendiente', GETDATE());
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Turnos_ObtenerColaEspera] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Turnos_ObtenerColaEspera]
AS
BEGIN
    SELECT T.codigo_turno, P.nombre_prioridad, T.fecha_creacion, T.nombre_cliente
    FROM Turnos T
    INNER JOIN Prioridades P ON T.id_prioridad = P.id_prioridad
    WHERE T.estado_turno = 'Pendiente'
    ORDER BY P.peso_prioridad DESC, T.fecha_creacion ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Turnos_ObtenerDelDia] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Turnos_ObtenerDelDia]
AS
BEGIN
    SELECT 
        T.codigo_turno AS Codigo, 
        T.estado_turno AS Estado, 
        M.nombre_modulo AS NombreModulo,
        T.id_turno AS Id
    FROM Turnos T
    LEFT JOIN Atenciones A ON T.id_turno = A.id_turno
    LEFT JOIN Modulos M ON A.id_modulo = M.id_modulo
    WHERE T.fecha_creacion >= CAST(GETDATE() AS DATE)
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Turnos_SiguienteEnCola] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Turnos_SiguienteEnCola]
AS
BEGIN
    SET NOCOUNT ON;
    -- Seleccionamos el turno más urgente
    SELECT TOP 1 
        T.id_turno, 
        T.codigo_turno, 
        T.id_prioridad, 
        T.nombre_cliente, 
        T.documento_cliente,
        P.nombre_prioridad -- Asegúrate de tener este campo en la tabla Prioridades
    FROM Turnos T
    INNER JOIN Prioridades P ON T.id_prioridad = P.id_prioridad
    WHERE T.estado_turno = 'Pendiente'
    ORDER BY P.peso_prioridad DESC, T.fecha_creacion ASC; -- Prioridad alta primero, luego orden de llegada
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Desactivar] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Usuarios_Desactivar]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    -- VALIDACIÓN: Si el usuario tiene una atención activa (sin hora_fin), se frena la baja
    IF EXISTS (SELECT 1 FROM Atenciones WHERE id_usuario = @IdUsuario AND hora_fin IS NULL)
    BEGIN
        RAISERROR('No se puede desactivar al usuario porque actualmente tiene un módulo a cargo y se encuentra en atención.', 16, 1);
        RETURN;
    END

    -- Si pasa la validación, se procede con la desactivación lógica
    UPDATE Usuarios SET activo = 0 WHERE id_usuario = @IdUsuario;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Guardar] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creamos el procedimiento optimizado y tolerante a inserciones desde C#
CREATE PROCEDURE [dbo].[sp_Usuarios_Guardar]
    @IdUsuario INT = 0, -- Le asignamos 0 por defecto por si C# llega a omitirlo
    @Nombre VARCHAR(100),
    @Username VARCHAR(50),
    @Password VARCHAR(255),
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    -- CASO A: Si el ID es 0, significa que es un usuario NUEVO (Insert)
    IF @IdUsuario = 0
    BEGIN
        INSERT INTO Usuarios (nombre_completo, username, password_hash, id_rol, activo)
        VALUES (@Nombre, @Username, @Password, @IdRol, 1);
    END
    -- CASO B: Si el ID es mayor a 0, significa que estamos MODIFICANDO uno existente (Update)
    ELSE
    BEGIN
        UPDATE Usuarios
        SET nombre_completo = @Nombre,
            username = @Username,
            -- Solo actualiza la contraseña si C# no mandó la máscara de cortesía vacía
            password_hash = CASE WHEN @Password IS NULL OR @Password = '' THEN password_hash ELSE @Password END,
            id_rol = @IdRol
        WHERE id_usuario = @IdUsuario;
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_ObtenerTodos] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================================
-- 2. PROCEDIMIENTOS PARA EL CRUD DE USUARIOS (Administración)
-- =======================================================================

-- Leer todos (Filtra solo activos)
CREATE PROCEDURE [dbo].[sp_Usuarios_ObtenerTodos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT U.id_usuario, U.nombre_completo, U.username, R.nombre_rol, U.activo 
    FROM Usuarios U 
    INNER JOIN Roles R ON U.id_rol = R.id_rol 
    WHERE U.activo = 1
    ORDER BY U.nombre_completo ASC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Validar] Fecha de script: 25/05/2026 9:18:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuarios_Validar]
    @Username VARCHAR(50),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.id_usuario,
        u.nombre_completo, -- Volvemos a su nombre original sin alias "AS nombre"
        u.username,
        u.id_rol,
        r.nombre_rol
    FROM dbo.Usuarios u
    INNER JOIN dbo.Roles r ON u.id_rol = r.id_rol
    WHERE u.username = @Username 
      AND u.password_hash = @Password
      AND u.activo = 1;
END;
GO
